*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#contenuto{
  margin: 0 auto;
  width: 1000px;
}

.row .sezione{
  padding: 20px 5px;
  display: inline-block;
  position: relative;
}

.sconto{
  position: absolute;
  top: 20px;
  right: 5px;
}

.cuore{
  display: none;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  color: red;
  font-size: 20px;
}

.sezione:nth-child(2) .sconto{
  background-color: red;
}

.sezione:nth-child(odd) .sconto{
  background-color: green;
}

.sezione:hover .cuore{
  display: block;
}
